{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{NAME|capfirst}} | {{title}}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{% static 'AdminLTE/plugins/fontawesome-free/css/all.min.css'%}">
  <link rel="stylesheet" href="{%static '/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static '/AdminLTE/dist/css/adminlte.min.css'%}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header ">
      <div class="row">
        <div class="col-9">
          <a href="../../index2.html" class="h1"><b>{{NAME}}</b></a>
        </div>
        <div class="col-3">
          {% include "language.html" %}
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="login-box-msg">{% trans "subtitle_login" %}</p>

      <form  method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" name="username" class="form-control" placeholder="{% trans 'username'%}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="{% trans 'password'%}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                   {%trans 'remember_me'%}
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">{%trans 'sign_in'%}</button>
          </div>
        </div>
      </form>

      <p class="mb-1">
        <a href="forgot-password.html">{%trans 'forgot_password'%}</a>
      </p>
    </div>
  </div>
</div>

<script src="{% static 'AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'AdminLTE/dist/js/adminlte.min.js'%}"></script>
</body>
</html>
